services:
  petric:
    image: synerbi/jupyter:sirf-build-gpu
    container_name: petric-container
    volumes:
      - /home/ubuntu/devel/PETRIC2:/home/jovyan/PETRIC2:rw
      - /mnt/share-public/petric:/data
      - /mnt/share-public/petric-wip/petric2:/data/petric2
    restart: unless-stopped
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    # Remove the -d flag as docker-compose runs containers in detached mode by default
    # Add any additional configuration as needed