services:
  petric:
    image: petric2-magez
    # image: ghcr.io/synerbi/sirf:petric2
    container_name: petric-container
    volumes:
      - /opt/edo/:/home/jovyan/workdir:rw
      - /mnt/share-public/petric:/data
      - /mnt/share-public/petric/wip/petric2/:/data/petric2
    ports:
      - "8888:8888"
    group_add: 
      - "27"
    restart: unless-stopped
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    # Remove the -d flag as docker-compose runs containers in detached mode by default
    # Add any additional configuration as needed